img{
  width: 225px;
  height: auto;
}

body{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    animation: background-cycle 16s steps(1, end) infinite;
}

@keyframes background-cycle {
  0%, 100% { background: linear-gradient(to right, #a53d22, #fc9f57); }
  25% { background: linear-gradient(to right, #478c78, #b9d879); }
  50% { background: linear-gradient(to right, #5275a3, #a7d3e8); }
  75% { background: linear-gradient(to right, #9a547d, #e8a4b6); }
}


